<div>
    <div *ngIf="!loadCountBlock" class="mb-3">
        <p>Количество элементов: {{tickets.length}}</p>
       <p>Активный элемент: {{blockDirective?.activeElementIndex}}</p>
    </div>

    <!-- <div class="pb-3">
        <input (input)="findTours($event)" type="text" pInputText>
    </div> -->

    <div>
        <input #ticketSearch [(ngModel)]="ticketSearchValue" type="text" pInputText>
    </div>
    
    <div appBlocksStyle
        *ngIf="tickets"
        #tourWrap
        #blockDirective="blockStyle"
        [selector]="'.ticket-item'"
        [initFirst]="false"
        (renderComplete)="diretiveRenderComplete($event)"
        class="d-flex flex-wrap justify-content-around mt-3">
    
        <div class="ticket-item col-3 m-2"
            (click)="goToTicketInfoPage(item)"
            *ngFor="let item of tickets; let i = index">
        <div class="ticket-title">{{item.name}}</div>
            <div class="ticket-img">
                <img class="w-100" src="/assets/img/{{item.img}}"/>
            </div>
        </div>
        
    </div>
</div>