<div class="d-flex flex-column col-6 auth-input-wrap m-auto">
       <div>
              <span class="mx-3">{{loginText}}</span>
              <input type="text"
                     pInputText
                     [ngClass]="{'input-error': !login}"
                     [(ngModel)]="login"/>
       </div>
       <div>
              <span class="mx-3">{{pswText}}</span>
              <input type="password"
                     class="mt-3"
                     pInputText
                     [ngClass]="{'input-error': !psw}"
                     [(ngModel)]="psw"/>
       </div>

       <div class="mt-3 mx-3">       
              <p-checkbox (onChange)="vipStatusSelect()" name="groupname" [binary]="true" value="val1" [(ngModel)]="selectedValue" label="Есть карта"></p-checkbox>
              
              <div *ngIf="selectedValue">
                     <span class="mx-3">Номер карты</span>
                     <input type="text"
                            class="mt-3"
                            pInputText
                            [(ngModel)]="cardNumber"/>
              </div>
       </div>


       <div class="mt-3 d-flex justify-content-center">
              <button (click)="onAuth($event)" type="button" class="btn btn-success">{{authTextButton}}</button>
       </div>

</div>
