<div class="ticket-info-wrap">
    <div class="mt-3">
        <a routerLink="/tickets/tickets-list">Назад</a>
    </div>

    <div class="mt-4">
        <h4>Информация о туре</h4>
        <div class="mt-3">
          <p>Название тура: </p>{{ticket?.name}}
            {{ticket?.price}} <br>
            {{ticket?.description}} <br>
        </div>
    </div>

    <div class="mt-4">
        <h4>Личная Информация</h4>
        <div class="mt-3 user-info" [formGroup]="userForm" (ngSubmit)="onSubmit">
            <div class="mt-3">
                <ng-container *ngTemplateOutlet="userFieldTitle; context:{titleValue: 'Имя'}"></ng-container>
                <input type="text" class="mt-3"
                pInputText
                formControlName="firstName">
            </div>

            <div class="mt-3">
                <ng-container *ngTemplateOutlet="userFieldTitle; context:{titleValue: 'Фамилия'}"></ng-container>
                <input type="text" class="mt-3"
                pInputText
                formControlName="lastName">
            </div>

            <div class="mt-3">
                <ng-container *ngTemplateOutlet="userFieldTitle; context:{titleValue: 'Номер карты'}"></ng-container>

                <input type="text" class="mt-3"
                pInputText
                formControlName="cardNumber">
            </div>

            <div class="mt-3">
                <ng-container *ngTemplateOutlet="userFieldTitle; context:{titleValue: 'Возраст'}"></ng-container>
                <p-inputNumber formControlName="age"
                [showButtons] = 'true'>
                </p-inputNumber>
            </div>

            <div class="mt-3">
                <ng-container *ngTemplateOutlet="userFieldTitle; context:{titleValue: 'День рождения'}"></ng-container>

                <p-calendar formControlName="birthDay"
                            (onSelect)="selectDate($event)"
                            >
                </p-calendar>
            </div>

            <div class="mt-3">
                <ng-container *ngTemplateOutlet="userFieldTitle; context:{titleValue: 'Гражданство'}"></ng-container>
                <input type="text" class="mt-3"
                pInputText
                formControlName="citizen">
            </div>

            <div class="mt-4">
                <button class="btn-success btn" type="submit" (click)="initTour()"
                [disabled]="!userForm.valid">Перейти к оформлению</button>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <h4>Похожие туры</h4>
        <div>
            <input #ticketSearch [(ngModel)]="ticketSearchValue" type="text" pInputText>
        </div>

        <p-carousel [value]="nearestTours">
            <ng-template pTemplate="header"></ng-template>
            <ng-template let-tour pTemplate="item">
                {{tour.name}} / {{ tour.region.name }}
                <div class="ticket-img-nearest">
                    <img src="/assets/img/{{tour.img}}" alt="" class="w-100 h-100">
                </div>
            </ng-template>
        </p-carousel>
    </div>

</div>

<ng-template #userFieldTitle let-value='titleValue'>
    <span class="mx-3">{{value}}</span>
</ng-template>
