
<div class="d-flex flex-column col-6 registration-input-wrap m-auto">
    <div>
           <span class="mx-3">Логин</span>
           <input type="text"
                  pInputText
                  [ngClass]="{'input-error': !login}"
                  [(ngModel)]="login"/>
    </div>

    <div>
           <span class="mx-3">Пароль</span>
           <input type="password"
                  class="mt-3"
                  pInputText
                  [ngClass]="{'input-error': !psw}"
                  [(ngModel)]="psw"/>
    </div>

    <div>
            <span class="mx-3">Подтвердите пароль</span>
            <input type="password"
            class="mt-3"
               pInputText
               [ngClass]="{'input-error': !pswRepeat}" 
               [(ngModel)]="pswRepeat"/>
    </div>

    <div>
            <span class="mx-3">Почта</span>
            <input type="text"
            class="mt-3"
                pInputText
                [(ngModel)]="email"/>
    </div>

    <div *ngIf="showCardNumber">
            <span class="mx-3">Номер карты</span>
            <input type="text"
            class="mt-3"
                pInputText
                [(ngModel)]="cardNumber"/>
    </div>

</div>

<div class="mt-3 mx-3">       
    <p-checkbox (onChange)="onRegAction()" name="groupname" [binary]="true" value="val1" [(ngModel)]="selectedValueReg" label="Сохранить данные?"></p-checkbox>
</div>

<div class="mt-5 d-flex justify-content-center">
    <button [disabled]="!login || !psw || !pswRepeat" 
        (click)="onReg($event)" 
        type="button" 
        class="btn btn-success">Регистрация
    </button>
</div>

